.father-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    animation: flotar 3s ease-in-out infinite;
  }

  
  @keyframes flotar {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }

.icon-p {
    font-size: 3rem;
}

.a-icon{
    color: #48d42c98;
}

.a-icon:hover{
    box-shadow: none;
    color: #27741898;
}